<section class="abouts">
    <ul>
        <h1>تماس با ما</h1>
        <li class="abouts-box"><a href="tel:09960818708"><img
                src="{{ url_for('static', filename="about/whats.png") }}"></a></li>
        <li class="abouts-box"><a href="https://wa.me/:09960818708"><img
                src="{{ url_for('static', filename="about/whats.png") }}"></a></li>
        <li class="abouts-box"><a href="tel:09960818708"><img
                src="{{ url_for('static', filename="about/whats.png") }}"></a></li>
    </ul>

    <ul>
        <h1>شبکه های اجتماعی</h1>
        <li class="abouts-box"><a href="tel:09960818708"><img
                src="{{ url_for('static', filename="about/whats.png") }}"></a></li>
        <li class="abouts-box"><a href="tel:09960818708"><img
                src="{{ url_for('static', filename="about/whats.png") }}"></a></li>
        <li class="abouts-box"><a href="tel:09960818708"><img
                src="{{ url_for('static', filename="about/whats.png") }}"></a></li>
    </ul>
</section>

    <section class="about-end-box">
<b>تمامی حقوق شما در این سایت محفوظ است</b>
    </section>